@model dynamic

@{
    ViewBag.Title = "title";
}

<style type="text/css">
    .glyphicon-refresh-animate {
        -animation: spin .7s infinite linear;
        -webkit-animation: spin2 .7s infinite linear;
    }

    @@-webkit-keyframes spin2 {
        from { -webkit-transform: rotate(0deg);}
        to { -webkit-transform: rotate(360deg);}
    }

    @@keyframes spin {
        from { transform: scale(1) rotate(0deg);}
        to { transform: scale(1) rotate(360deg);}
    }
</style>

<h2>Dashboard</h2>
<div class="lead">Multiple Data Load</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" id="w3">
            <div class="panel-heading">Lorem</div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="w1">
            <div class="panel-heading">Ipsum</div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="w2">
            <div class="panel-heading">Dolor sit amet</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" id="w4">
            <div class="panel-heading">Consectetur</div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="w5">
            <div class="panel-heading">Adipiscing elit</div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="w6">
            <div class="panel-heading">Sed do</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default" id="w7">
            <div class="panel-heading">Eiusmod</div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="w8">
            <div class="panel-heading">Tempor incididunt</div>
            <div class="panel-body"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default" id="w9">
            <div class="panel-heading">Ut labore</div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" onclick="load()">Load</button>

@section scripts
{
    <script src="/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script type="text/javascript">

        var editor = $.connection.dashboard;
        var icons = [
            '',
            'music',
            'heart',
            'fire',
            'cloud',
            'film',
            'eye-close',
            'paperclip',
            'bookmark',
            'tint',
            'airplane'
        ];

        // Add client-side hub methods that the server will call
        $.extend(editor.client, {
            widgetLoaded: function (data) {
                $('#w' + data.id)
                    .removeClass('panel-default')
                    .addClass('panel-primary');

                $('#w' + data.id + ' .panel-body').html('<span class="glyphicon glyphicon-' + icons[data] + '"></span> Loaded in ' + data.delayed + 'ms.');
            }
        });

        // Start the connection
        $.connection.hub.start();

        function load() {

            $('.panel-body.panel-body').html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...');

            $.getJSON('http://localhost:19282/api/data/1');
        }

    </script>
}
